.test-graph {
    // border: 1px solid #ccc;
}

.test-graph__background {
    // stroke: rgba(blue, 0.2);
    // stroke-width: 1px;
    fill: rgba(black, 0.04);
}

.test-graph__point {
    fill: rgba(red, 0.3);
}

.test-graph__line {
    stroke-width: 1px;
    stroke-dasharray: 4;
    stroke: rgba(0, 0, 0, 0.2);
}

.test-graph__path {
    stroke-width: 1px;
    stroke: rgba(blue, 0.3);
    fill: none;
}

.test-graph__area {
    stroke: none;
    fill: rgba(blue, 0.1);
}

.test-graph__block {
    stroke: none;
    fill: rgba(black, 0.1);
}

.test-graph__hover-target {
    stroke-width: 1px;
    stroke: rgba(black, 0.05);
    fill: none;
    cursor: pointer;
    &:hover {
        fill: rgba(yellow, 0.8);
    }
}

.test-graph__line--all-time-lightest {
    stroke-dasharray: none;
    stroke: rgba(seagreen, 0.5);
    stroke-width: 2px;
}

.test-graph__line--all-time-heaviest {
    stroke-dasharray: none;
    stroke: rgba(red, 0.5);
    stroke-width: 2px;
}
